body {
  background-color: #E7ECEF;
  font-family: 'Roboto';
  color: #274C77;
  font-size: 18px;
}
  
h1 {
  font-family: 'Libre Baskerville';
  color: #E7ECEF;
  text-align: center;
}

h2 {
  font-family: 'Libre Baskerville';
  color: #E7ECEF;
  text-align: center;
  font-size: 30px;
}

.subheading {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  margin-top: 40px; 
  margin-bottom: 10px;
}

.textarea {
  width: 90%; 
  background-color: #E7ECEF; 
  padding: 20px; 
  text-align: justify; 
  border-radius: 10px;
  text-indent: 50px;
}
  